/* :root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #f5f5f5;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}


body, html {
    margin: 0;
    padding: 10px;
    background: var(--background);
    color: var(--text);
    font-family: var(--font);
}

img {
    width: 30%;
    border-radius: calc(var(--image) * 2);
    border: 4px solid var(--text);
}

a {
    color: var(--text);
}

input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
} */


/* body {
    background: rgb(245, 29, 245);
    color: white;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
} 

.main {
    margin-top: 100px;
}

.search-input {
    width: 400px;
    border-radius:20px;
    display: block;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 300px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */


/* body {
    margin: 0;
}

.red{
    background: red;
    height: 100px;
    margin-bottom: 10px;
}

.blue{
    background: blue;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.green{
    background: green;
    height: 100px;
} */


/* .card{
    background: lightgray;
    color: #222222;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 4px solid #222222;
    border-radius: 20px;
} */

/* .btn{
    background-color: white;
    color: #0f1419;
    font-weight: bold;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #cfd9de;
    width: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

}

body {
    text-align: center;
} */


/* .main{
    margin-top: 100px;
    text-align: center;
}

.logo-img{
    width: 300px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-input{
    display: block;
    width: 400px;
    line-height: 24px;
    border-radius: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #dfe1e5;
    
}

.btn{
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    background: #dfe1e5;
} */

/* .nav-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.item{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 0 10px;
}

body{
    background: white;
} */


/* .main{
    margin-top: 100px;
}

.logo-img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.search-input{
    display: block;
    width: 400px;
    line-height: 24px;
    border-radius: 24px;
    margin: 30px auto;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    
}

.btn{
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
    border: none;
    background: #dfe1e5;
    margin: 0 4px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
} */


/* body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    margin: 200px auto;
    padding: 20px;
    display: flex;
    width: 400px;
    background: #fdf0d5;
    justify-content: space-between;
    border-bottom: 5px solid #780000;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.avatar{
    width: 150px;
}

.info{
    text-align: center;
    margin: 0 auto;
}

.dotted-blue-border{
    border: 1px dotted blue;
}

.italic{
    font-style: italic;
} */


/* body {
    color: white;
    background-image: url("images/universe.jpg");
    background-size: cover;
    text-align: center;
}

.btn {
    background: white;
    border: none;
    padding: 6px 12px;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bold{
    font-weight: bold;
} */


/* @font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;
}

h1 {
    font-family: Corleone;
} */


/* .rammetto-one {
  font-family: "Rammetto One", sans-serif;
  font-weight: bold;
  font-style: normal;
}

body{
    margin-top: 100px;
}

.ad{
    background: #35654d;
    border: 5px solid #A3BC71;
    text-align: center;
    color: whitesmoke;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cta{
    border: 2px solid #A3BC71;
    padding: 5px 10px;
    background: #8f4737;
} */


/* body{
    text-align: center;
    color: #82a5ca;
    margin: 0;
}

.btn{
    background: white;
    border: none;
    padding: 6px 12px;
    color: #82a5ca;
}


.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bold{
    font-weight: bold;
}

.underline{
    border-bottom: 5px solid white;
    /* text-decoration: underline; */


/* #main-logo{
    width: 150px;
}

.hero{
    background-image: url("images/galaxy.webp");
    background-size: cover;
    height: 500px;
    padding-top: 50px;
}

.btm{
    margin-top: 30px;
}

.txt-shadow{
    text-shadow: 0px 0px 4px black;
} */


/* .gift-img {
    display: block;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 6px solid white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
} */
 

/* body{
    background: #a2d2ff;
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#profile-img {
    border-radius: 50%;
    width: 200px;
    border: 6px solid #EFB0C9;
}

#age {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 5px;
    margin-top: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(images/doll.jpg);
    background-size: cover;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px
}

.gift-hint {
    margin-top: 0;
} */


/* a {
    text-decoration: none;
    color: white;
    background: red;
    display: block;
    margin: 10px;
    text-align: center;
    padding: 25px 0;
    font-size: 30px;
    font-weight: bold;
}

a:hover {
    background-image: url(images/sparkle.png);
} */

/* body{
    background: linear-gradient(#a2d2ff,#EFB0C9);
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#profile-img {
    border-radius: 50%;
    width: 200px;
    border: 6px solid #EFB0C9;
}

#age {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    background: #EFB0C9;
    padding: 5px 12px;
    border-radius: 5px;
    margin-top: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url(images/universe.jpg);
    background-size: cover;
}

#gift1:hover {
    background-image: url(images/doll.jpg);
}

#gift2:hover {
    background-image: url(images/sparkle.png);
}

#gift3:hover {
    background-image: url(images/galaxy.webp);
}

#gift4:hover {
    background-image: url(images/rndmImage.png);
}

#gift5 {
    height: 200px;
}

#gift5:hover {
    height: 200px;
    background-image: url(images/sparkle.png);
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px
}

.gift-hint {
    margin-top: 0;
}

#footer {
    margin-top: 40px;
    font-style: italic;
}

#course-link {
    color: white;
} */


/* body{
    display: border;
    margin: 0;
}

#top {
    display: flex;
    flex-direction: column;
    background-image: url(images/dreamland.webp);
    background-size: cover;
    align-items: center;
    height: 300px;
    padding-top: 100px;
}

#title-top{
    color: white;
    background: #c1121f;
    padding: 5px 20px;
    margin: 40px 0 0 0;
}

#description-top{
    color: white;
    background: #780000;
    padding: 4px 15px;
}

#middle {
    display: block;
    text-align: center;
    background: #fdf0d5;
    padding: 30px 0 20px 0;
}

#title-middle {
    margin-top: 0;
}

#activities {
    display: flex;
    justify-content: space-around;
}

.activity-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

#card {
    width: 550px;
    margin: 50px auto;
    border-bottom: 5px solid #780000;
    background: #fdf0d5;
    padding: 10px;
    display: flex;
}

#profile-img {
    background-image: url(images/sparkle.png);
    background-size: cover;
    width: 250px;
    height: auto;
}

#card-info {
    text-align: center;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#profile-img:hover {
    background-image: url("images/rndmImage.png");
} */

/* body {
    text-align: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    display: border;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
} */
 

/* body{
    background: darkblue;
    color: white;
    align-items: center;
}

@font-face {
    font-family: face;
    src: url("fonts/CursedTimerUlil-Aznm.ttf");
}

h1{
    font-weight: bold;
}

#score-card {
    display: flex;
    justify-content: space-around;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-family: face;
    color: red;
    background: black;
    width: 70px;
    padding: 30px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    background: darkblue;
    color: white;
    font-family: face;
    padding: 10px;
    margin: 0px 5px;
} */

/* BLACKJACK GAME */

/* body {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: goldenrod;

}

#message-el {
    font-style: italic;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background: goldenrod;
    border-radius: 2px;
    color: #016f32;
    border: none;
    font-weight: bold;
    padding: 4px 0;
    width: 150px;
    margin-bottom: 5px;
} */

/* EMOJI FIGHTER */

/* body{
    font-family: "Permanent Marker", cursive;
    text-align: center;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    color: orange;
    text-shadow: 2px 2px black;
    transform: skewY(-10deg);
    line-height: 1

}

#stage {
    color: orange;
    font-size: 50px;
    height: 160px;
    margin: 0;
    justify-content: center;
    padding-top: 40px;
}

button {
    color: white;
    background: orange;
    border-radius: 5px;
    border: none;
    font-family: "Permanent Marker", cursive;
    padding: 3px 10px;
} */

/* FRUIT SORTER */

/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 5px;
    width: 200px;
    height: 30px;
} */

/* RANDOM PASSWORD GENERATOR */

/* body{
    background: #1d222e;
    margin: 20px;
}

#upper-h1 {
    color: white;
}

#bottom-h1 {
    color: #50bf85;
    margin-bottom: 80px;
}

p {
    color: #9aa0aa;
}

#actions {
    display: flex;
    justify-content: start;
}

#generate-btn {
    background: #13b075;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

#password-length {
    width: 185px;
    border-radius: 5px;
    border: none;
    margin: 0 20px;
}

.checkbox {
    display: flex;
    margin-left: 0px;
}

#horizontal-line{
    border-bottom: 1px solid lightgray;
    height: 1px;
    margin: 20px 0;
}

#passwords{
    display: flex;
    justify-content: start;
    text-align: center;
}

.password-container {
    background: #232f40;
    color: #50bf85;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 150px;
    height: 30px
}

#numbers {
    margin-left: 20px;
}

#password2 {
    margin-left: 20px;
}

#hint {
    font-size: 10px;
} */

/* MY LITTLE CALCULATOR */

/* body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

main {
    border: 3px solid navy;
    box-shadow: 0 2px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 30px auto;
    color: navy;
    background: rgb(70, 219, 212);
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: start;
}

label {
    color: navy;
    margin-bottom: 5px;
    text-align: start;
    justify-content: start;
    align-items: start;
}

input {
    margin-bottom: 10px;
    width: 100%;
    border: 3px solid navy;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin: 10px auto;
    background: white;
    color: navy;
    border: 3px solid navy;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    width: 200px;
} */

/* LEADS TRACKER - CHROME EXTENSION */

/* body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

input:focus {
    outline: none;
    background: lightblue;
}

button {
    border: none;
    color: white;
    margin-top: 4px;
    font-weight: bold;
    padding: 10px 20px;
    background: #5f9341;
    border: 1px solid #5f9341;
}

#delete-btn{
    color: #5f9341;
    background: white;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a {
    color: #5f9341;
} */

/* METRIC/IMPERIAL UNIT CONVERSION */

/* body {
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 500px;
    margin: 20px auto;
    font-family:Arial, Helvetica, sans-serif;
}

#top {
    background: #5f3bfe;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
    color: white;
    font-weight: bold;
}

input {
    width: 300px;
    height: 80px;
    border: 2px solid #a888ff;
    box-sizing: border-box;
    background: #5f3bfe;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 0 20px;
}

input:focus {
    outline: none;
}

button {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #5f3bfe;
    background: white;
    padding: 10px 20px;
    font-weight: bold;
}

#bottom {
    background: #f3f3f3;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    min-height: 310px;
}

.units {
    background: white;
    margin: 0 20px 20px 20px;
    padding: 10px 10px 1px 10px;
}

h3 {
    margin: 0;
    color: #69657a;
}

p{
    color: #a09ea8;
} */

/* STOCK TICKER */

/* body {
    text-align: center;
}

#container {
    border: 5px solid lightgreen;
    background: black;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
}

#info {
    border-radius: 10px;
    border: none;
    color: black;
    width: 400px;
    height: 300px;
    background: white;
    margin: 50px auto;
    text-align: start;
    padding: 5px 30px;
    box-sizing: border-box;
}

p {
    font-weight: bold;
    font-size: 30px;
} */

/* PROPERTY SALE */

/* body {
    margin: 0;
    color: #333;
    font-family: 'Poppins';
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    min-width: 400px;
    max-width: 450px;
    box-shadow: 0px 0px 10px 1px #999;
    margin: 0 20px 15px 20px;
    border-radius: 5px;
    max-height: 120px;
}

.card img {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   height: 100%;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 16px;
    padding: 11px;
}

h2{  
    font-size: 16px;
    margin: 0 0 3px 0;
}

h3{  
    font-size: 12px;
    margin: 0 0 3px 0;
}

p {
    font-size: 13px;
    margin: 5px 0 5px 0;
} */