body {
    box-shadow: 0 0 5px black;
    text-align: center;
    width: 500px;
    margin: 20px auto;
    font-family:Arial, Helvetica, sans-serif;
}

#top {
    background: #5f3bfe;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
    color: white;
    font-weight: bold;
}

input {
    width: 300px;
    height: 80px;
    border: 2px solid #a888ff;
    box-sizing: border-box;
    background: #5f3bfe;
    margin-bottom: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 0 20px;
}

input:focus {
    outline: none;
}

button {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #5f3bfe;
    background: white;
    padding: 10px 20px;
    font-weight: bold;
}

#bottom {
    background: #f3f3f3;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    min-height: 310px;
}

.units {
    background: white;
    margin: 0 20px 20px 20px;
    padding: 10px 10px 1px 10px;
}

h3 {
    margin: 0;
    color: #69657a;
}

p{
    color: #a09ea8;
}

a{
    color: #69657a;
}